<html>
<head>
  <title>Andreas Project</title>
  <script src="http://opc-n2:4000/socket.io/socket.io.js"></script>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>


  <style>
  table {
      font-family: arial, sans-serif;
      font-size:80%;
      border-collapse: collapse;
      float: left;
  }
  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 0px 10px;
  }
  tr:nth-child(even) {
      background-color: #dddddd;
  }
  </style>

  <table id=hwstatus-table>
  <tr>
  <th>Device</th>
  <th>Status</th>
  </tr>
  <tr v-for="system in subsystems">
  <td>{{system.description}}</td>
  <td>{{system.status}}</td>
  </tr>
  </table>


  <div id="start_button" style="float: left; margin-left:20px;">
    <button v-on:click="start_sampling">START SENSOR</button>
  </div>

    <div id="stop_button" style="float: left; margin-left:20px;">
    <button v-on:click="stop_sampling">STOP SENSOR</button>
  </div>
    <div id="shutdown_button" style="float: left; margin-left:20px;">
    <button v-on:click="shutdown">SHUTDOWN</button>
  </div>

  <div style="clear: both;"></div>



  <div id="binChartContainer" style="height: 50%; width: 100%;"></div>

  <script>

  var start_button = new Vue({
    el: '#start_button',
    data: {},
    methods: {
      start_sampling: function () {
        console.log("Start");
      }
    }
  })

  var stop_button = new Vue({
    el: '#stop_button',
    data: {},
    methods: {
      stop_sampling: function () {
        console.log("Stop");
      }
    }
  })

  var shutdown_button = new Vue({
    el: '#shutdown_button',
    data: {},
    methods: {
      shutdown: function () {
        console.log("Shutdown");
      }
    }
  })

  var subsystems = [
    { description: "Autopilot", status: "Disconnected" },
    { description: "GPS", status: "No fix" },
    { description: "Clock", status: "No sync" },
    { description: "Sensor", status: "Offline" }
    ];

  var hwstatus = new Vue({
    // el: '#hw-status',
    el: '#hwstatus-table',
    data: {
      subsystems
    }
  })

    var dps = [];
    for (i=0; i<16;dps[i++]=[]);
    var max_data_length = 20;

    var chart = new CanvasJS.Chart("binChartContainer", {
    	title:{
    		text: "Particles by bin"
    	},
    	toolTip:{
    		shared:true
    	},
    	data: [{
    		// Change type to "doughnut", "line", "splineArea", etc.
    		type: "line",
    		name: "Bin 0",
    		dataPoints: dps[0]
    	},
    	{
    		type: "line",
    		name: "Bin 1",
    		dataPoints: dps[1]
    	},
    	{
    		type: "line",
    		name: "Bin 2",
    		dataPoints: dps[2]
    	},
    	{
    		type: "line",
    		name: "Bin 3",
    		dataPoints: dps[3]
    	},
    	{
    		type: "line",
    		name: "Bin 4",
    		dataPoints: dps[4]
    	},
    	{
    		type: "line",
    		name: "Bin 5",
    		dataPoints: dps[5]
    	},
    	{
    		type: "line",
    		name: "Bin 6",
    		dataPoints: dps[6]
    	},
    	{
    		type: "line",
    		name: "Bin 7",
    		dataPoints: dps[7]
    	},
    	{
    		type: "line",
    		name: "Bin 8",
    		dataPoints: dps[8]
    	},
    	{
    		type: "line",
    		name: "Bin 9",
    		dataPoints: dps[9]
    	},
    	{
    		type: "line",
    		name: "Bin 10",
    		dataPoints: dps[10]
    	},
    	{
    		type: "line",
    		name: "Bin 11",
    		dataPoints: dps[11]
    	},
    	{
    		type: "line",
    		name: "Bin 12",
    		dataPoints: dps[12]
    	},
    	{
    		type: "line",
    		name: "Bin 13",
    		dataPoints: dps[13]
    	},
    	{
    		type: "line",
    		name: "Bin 14",
    		dataPoints: dps[14]
    	},
    	{
    		type: "line",
    		name: "Bin 15",
    		dataPoints: dps[15]
    	}]
    });


    var socket = io.connect('http://opc-n2:4000');

    socket.on('hwstatus', function (data) {
      subsystems[0].status = data.autopilot;
      subsystems[1].status = data.gps;
      subsystems[2].status = data.clock;
      subsystems[3].status = data.sensor;
    });



    socket.on('incoming_data', function (data) {
      for ( i=0; i<16; i++) {
      	eval('dps[' + i + '].push({ x:data.unix_time, y: data.bin' + i + '}) ');
      	if (dps[i].length > max_data_length) dps[i].shift();
      }
      chart.render();
      //socket.emit('my other event', { my: 'data' });

    });

  </script>
</body>
</html>